<div>
	<div class="well">
		<!-- panel -->
		<div data-dojo-attach-point="entryList, containerNode" style="display: none;">
		</div>	
		<div data-dojo-attach-point="spinnerNode" style="display: none;" class="well-spinner">
		</div>
		<div data-dojo-attach-point="noEntriesNode" style="display: block;">
			<p class="centercontents">No entries have been created</p>
		</div>	
		<!-- /panel -->
		<p class="centercontents nobottommargin">
			<a data-dojo-attach-point="addEntryLink" data-dojo-attach-event="ondijitclick:_onAddEntryLinkClick">
				Add Successor
			</a>
		</p>
	</div>
</div>